header{
  background-color: #FFED74;
  border: 1px black solid;
  padding: 1em;
}
nav{
  background-color: #E8C66A;
  border: 1px black solid;
  padding: 1em;
}
body{ 
  font-size: 16px;
}
section{
  background-color: #FFB7CF;
  border: 1px black solid;
  padding: 1em;
  font-size: 1em;
}
footer{
  background-color: #FF957E;
  border: 1px black solid;
  padding: 1em;
}
@media screen only and (max-width: 560px){
nav{
  text-align: center;
}
section{
  font-size: 0.5em;
}
