body{	
	background-image: url(http://briebrie.github.io/unit3/images/zaragoza_hero_image.jpg);
	background-color: #4C74FF;
	font-family:	"Trebuchet MS", sans-serif;
	}
h1{
	font-family:	"Trebuchet MS", sans-serif;
}
p{
	font-family:	"Trebuchet MS", sans-serif;
	font-style:		italic;
}
ul,li{
	font-family:	"Trebuchet MS", sans-serif;
}
